# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\develops\codes\changgou\spring-boot-starter-canal-master\.idea/dataSources/
/dataSources.local.xml
